@charset "utf-8";
@import "base.css";
.content-article {
    background: #fff;
}

.content-article h1 {
    text-align: center;
    font-size: 1.05rem;
    padding-top: 1.4rem;
}
.content-padded{
    margin: .75rem;}
.content-padded h1.title {
    font-size: 1.2rem;
}

.text-indent {
    text-indent: 2rem;
}

.buttons-row-wrap {
    height: 2.2rem;
    text-align: center;
    background: #ffffff;
    margin: 0 -.5rem;
}

.pagination {
    text-align: center;
    font-size: .75rem;
    padding-top: .75rem;
}

.bar-header-secondary-home ~ .content {
    top: 6.6rem;
}

.list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ico {
    vertical-align: middle;
    display: inline-block;
    background-size: 100% auto;
    background-position: center;
}
.ico-test{
    width: 1.65rem;
    height: .8rem;
    margin-right: .4rem;
    background-image: url("../img/ico-test.png");
    margin-top: -3px;
}
.ico-ask, .ico-answer {
    height: 0.8rem;
    width: 0.8rem;
    margin-right: 0.4rem;
    background-image: url("../img/ico-ask.png");
}

.ico-answer {
    background-image: url("../img/ico-answer.png");
}

.media-list-title {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: .75rem;
    color: #333;
    padding-top: .2rem;
    padding-left: 10px;
    position: relative;
    top: 6px;
}

.list-info li {
    font-size: .7rem;
}

.view-more {
    text-align: center;
    font-size: 12px;
    display: block;
    margin: 1rem 0;
}

/*
.view-more:after{ content: '';
    height: 1px;
    width: 50%;
    background-color: #999999;
    display: block;
    margin: 0 auto;
    margin-top: -.7rem;}*/
.button.button-fill.button-enroll{
    background: #1870EE;
    border-radius: 0;
    width: 7.1rem;
    font-size: .65rem;
}
/* 固定底部提问按钮*/
.fixed-bottom-circle{
    position: fixed;
    right: 15px;
    bottom: 70px;
    /*display: inline-block;*/
    z-index: 4444;
    background: #1870ee;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    color: #ffffff;
    justify-content:center;
    line-height: 2.2rem;
    font-size:.7rem;
    box-shadow:1px 5px 10px #ddd;;
}
.cards-list-test .card-content-inner{
    font-size: .8rem;    padding-top: .4rem;}
.cards-list-test .button.button-fill{background: #2c74e6; width: 3.85rem;
    height: 1.25rem;
    line-height: 1.25rem;
    font-size: 12px;}
.cards-list-test .button.button-fill.disabled{background: #ECECEC; color: #999999}
.media-list-policy .item-title{white-space: normal;color: #333;
    font-size: .8rem;
    line-height: 1.2rem;
    padding-top: .7rem;}
.media-list-policy .item-text{top:.8rem;
    font-size: .7rem;color: #999999;}
/* 立即报名页面 */
#page-enroll .bar-tab{ background: #1870EE;}
#page-enroll .bar-tab .tab-item{color: #ffffff}
#page-enroll h4{
     text-align: center;
    font-size: .9rem;
    font-weight: normal;
}
#page-enroll .button.button-big{
    width: 8rem;
    margin: 0 auto;
    font-size: .75rem;
    height: 2rem;
    line-height: 2rem;
}
.list-entry-info{

    font-size: .75rem;

    line-height: 1.8rem;}
.list-entry-info li{
    background: #ffffff;
    padding: .6rem .75rem;
    margin-bottom: .75rem;
}
.list-entry-info .link-close{
    float: right;color: #AAAAAA; font-size: 1rem;}
.list-entry-info .color-primary{
    font-size: .75rem;
    float: right;}
.list-entry-info .ico{
    height: .9rem;
    width: .9rem;
    background-repeat: no-repeat;
}
.list-entry-info .ico-house{
    background-image: url("../img/ico-house.png");
    background-size: auto  100%;
}
.list-entry-info .ico-bug{
    background-image: url("../img/ico-bug.png");
    background-size: auto  .75rem;
}
.list-entry-info .ico-user{
    background-image: url("../img/ico-user.png");
    background-size: auto  .8rem;
}
.list-entry-info .ico-tel{
    background-image: url("../img/ico-tel.png");
    background-size: .7rem auto ;
}
/*报名成功*/
.list-card-success{text-align: center;
    margin-top: -15px;}
.list-card-success li{background: #ffffff;border-radius: 6px;overflow: hidden;box-shadow: 0 4px 15px #ebebec;
    margin-bottom: .75rem;}
.list-card-success header{
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: .85rem;
    color: #fff;
    background: url("../img/bg-circle.png") repeat-x bottom;
    background-size: auto 100%;
}
.list-card-success section{
    padding: .8rem 0;
}
.list-card-success footer{
    height: 2rem;
    line-height:2rem;
    font-size: .8rem;
    color:#1AA6F7 ;
    border-top: 1px dashed #ddd;
    margin: 0 .75rem;
}
/*我要签到*/
.list-reach li{display: flex; background: #fff url("../img/bg-circle2.png") repeat-x top;
    background-size: auto .6rem;
    margin-bottom: .75rem;border-radius: 4px;
    padding:0 .5rem;
    padding-top: 1.2rem;
    padding-bottom: .75rem;
}
.list-reach li header{display: flex; justify-content: space-between;
    align-items: center}
.list-reach .code{
    margin-right: 12px;}
.list-reach .info  header{
    font-size: .85rem;
}
.list-reach label{
    background: #1870EE;
    border-radius: 3px;
    height: .9rem;
    padding:1px 6px;
    text-align: center;
    line-height: .9rem;
    color: #ffffff;
    font-size:12px ;
}
.list-reach .info section,.list-reach .info footer{
    font-size: .65rem;
    line-height: 1rem;
   }
.list-reach .info section{
    color: #666;
    padding: .4rem 0;
}
/* 咨询详情 */
#page-detail section{ background: #F8F8F8;
    padding: 4px 0;}
#page-detail .content-article h1{
    font-size: .9rem;
    text-align: left;
    margin: .4rem 0;
    padding: 0;
    padding-top: .6rem;
}
#page-detail .tip,#page-detail section .time{
    color: #666666;
    font-size: .75rem;
}
#page-detail header .color-gray,#page-detail section .time{
    font-size: .7rem;}
#page-detail section p{
    font-size: .8rem;
    font-weight: bold;
    line-height: 1.5rem;
    margin-bottom: 15px;
}
/*报名详情*/
.detail-info{
    border-radius: 20px 20px 0px 0px;
    box-shadow: 1px 1px 13px rgba(98,98,98,0.15);
    background: #ffffff;
    position: relative;
    padding: .2rem 0;
    margin-top: -40px;
}
.detail-list-info{
    background:rgba(255,255,255,1);
    opacity:0.8;
    border-radius:0px 8px 8px 8px;
    box-shadow:1px 1px 13px rgba(98,98,98,0.15);
    padding: .75rem;
    color: #333;
    margin-top: .75rem;
}
.bar-tab.bar-tab-detail{ background:rgba(24,112,238,1);
    box-shadow:4px -6px 13px rgba(51,51,51,0.12);}
.bar-tab.bar-tab-detail .tab-item{ color: #ffffff}
.bar-tab.bar-tab-detail .tab-item1{
    background: #ffffff;
    color: #666666;
    width: .5%;
}