@charset "utf-8";
/* 重置样式 */
body {
    font-family: PingFang SC, ROboto, Lantinghei SC, Helvetica Neue, Helvetica, Arial, Microsoft YaHei, '\\5FAE软雅黑', STHeitiSC-Light, simsun, '\\5B8B体', WenQuanYi Zen Hei, WenQuanYi Micro Hei, sans-serif;
    font-size: .8rem;
    line-height: 1.5rem;
    color: #333;
}

a {
    color: #4A4A4A;
}

p {
    margin: .4rem 0;
}

.color-gray {
    color: #999999;
}

.bar-nav {
    background: #fff;
}

.bar .button-link {
    color: #000;
}

.buttons-tab {
    height: 2.2rem;
}

.bar .icon.icon-left {
    font-size: 17px;
    top: -1px;
    font-weight: bold;
}
.bar-tab .tab-item .icon~.tab-label{top:-4px;}
.bar .searchbar {
    background: #C7C7CC;
}

.bar-tab {
    background: #F7F7F7
}
.buttons-row {
    justify-content: center;
    -webkit-justify-content: center;
    position: relative;
    top: 1px;
}

.buttons-row .button {
    width: 5.2rem;
    border-color: #007AFF;
}

.buttons-tab .button {
    color: #4A4A4A;
    margin-top: -3px;
}

.buttons-tab .button.active {
    color: #1870EE;
    border-color: #1870EE;
}

.buttons-row .button.active {
    background: #007AFF;
}
.bar-header-secondary .buttons-tab {
    margin: 0 -0.5rem;
}
.card-header:after,.card-footer:before{height: 0;}
.card {
    border-radius: .4rem;
    font-size: .75rem;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.05);
    margin: .75rem;
    line-height: 1.2rem;
}
.card-header {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.card-content-inner{
    padding: 0 .75rem;}
.card .color-gray{font-size: .7rem;}
.list-block {
    margin: 0;
}

.list-block ul:after {
    height: 0;
}

.list-block ul li:last-child .item-content:after {
    height: 0;
}

.media-list .item-inner:after {
    height: 0
}

.media-list .item-content:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.page {
    background: #F5F5F5;
}
.swiper-container-horizontal>.swiper-pagination-bullets{text-align: right;
    padding-right: 10px;}
.swiper-pagination-bullet-active{background: #ffffff;}
/*自定义组件样式*/
.pull-right {
    float: right;
}

.content-article {
    background: #fff;
}

.content-article h1 {
    text-align: center;
    font-size: 1.05rem;
    padding-top: 1.4rem;
}

.content-padded h1.title {
    font-size: 1.2rem;
}

.text-indent {
    text-indent: 2rem;
}

.buttons-row-wrap {
    height: 2.2rem;
    text-align: center;
    background: #ffffff;
    margin: 0 -.5rem;
}

.pagination {
    text-align: center;
    font-size: .75rem;
    padding-top: .75rem;
}

.bar-header-secondary-home ~ .content {
    top: 6.6rem;
}

.list-unstyled {
    margin: 0;
    padding: 0;
}

.ico {
    vertical-align: middle;
    display: inline-block;
    background-size: 100% auto;
    background-position: center;
}

.ico-ask, .ico-answer {
    height: 0.8rem;
    width: 0.8rem;
    margin-right: 0.4rem;
    background-image: url("../img/ico-ask.png");
}

.ico-answer {
    background-image: url("../img/ico-answer.png");
}

.media-list-title {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: .75rem;
    color: #333;
    padding-top: .2rem;
    padding-left: 10px;
    position: relative;
    top: 6px;
}

.list-info li {
    font-size: .7rem;
}

.view-more {
    text-align: center;
    font-size: 12px;
    display: block;
    margin: 1rem 0;
}

/*
.view-more:after{ content: '';
    height: 1px;
    width: 50%;
    background-color: #999999;
    display: block;
    margin: 0 auto;
    margin-top: -.7rem;}*/
.button.button-fill.button-enroll{
    background: #1870EE;
    border-radius: 0;
    width: 7.1rem;
    font-size: .65rem;
}
/* 固定底部提问按钮*/
.fixed-bottom-circle{
    position: fixed;
    right: 15px;
    bottom: 70px;
    /*display: inline-block;*/
    z-index: 4444;
    background: #1870ee;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    color: #ffffff;
    justify-content:center;
    line-height: 2.2rem;
    font-size:.7rem;
    box-shadow:1px 5px 10px #ddd;;
}
.cards-list-test .card-content-inner{
    font-size: .8rem;    padding-top: .4rem;}
.cards-list-test .button.button-fill{background: #2c74e6; width: 3.85rem;
    height: 1.25rem;
    line-height: 1.25rem;
    font-size: 12px;}
.cards-list-test .button.button-fill.disabled{background: #ECECEC; color: #999999}
.media-list-policy .item-title{white-space: normal;color: #333;
    font-size: .8rem;
    line-height: 1.2rem;
    padding-top: .7rem;}
.media-list-policy .item-text{top:.8rem;
    font-size: .7rem;color: #999999;}

