<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>咨询详情</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="#">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="keywords" content="关键词，关键词">
    <meta name="description" content="描述。。。。">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../public/css/sm.min.css">
    <link rel="stylesheet" href="../public/css/weixin.css">
</head>
<body>
<header class="page-group">
    <section class="page" id="page-detail">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left back" href="#" data-transition='slide-out'>
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title">咨询详情</h1>
        </header>
        `
        <!-- 页面内容区开始 -->
        <article class="content content-article">
            <header>
                <div class="content-padded">
                    <h1><i class="ico ico-ask"></i>跨境电商 新疆跨境电商出口的货物都有哪些？热销的月份是哪月？</h1>
                    <div class="tip">中粮食品进出口有限公司&nbsp;李志强</div>
                    <div class="color-gray">2018-09-22&emsp;08:39&nbsp;提问</div>
                </div>
            </header>
            <section>
                <div class="content-padded">
                    <div class="time"><i class="ico ico-answer"></i>北京海关 刘欣 2018-09-22 已回答</div>
                    <p>行政审批事项名称：海关监管货物仓储审批。
                        事项审查类型：前审后批。《中华人民共和国海关法》第一次修正，根据2013年6月29日第十二届全国人民代表大会常务委员会第三次会议。
                    </p>
                    <p>行政审批事项名称：海关监管货物仓储审批。
                        事项审查类型：前审后批。《中华人民共和国海关法》第一次修正，根据2013年6月29日第十二届全国人民代表大会常务委员会第三次会议。</p>
                </div>
            </section>
        </article>
        <!-- 页面内容区结束 -->
    </section>
</div>
<script src="../public/js/zepto.min.js"></script>
<script src="../public/js/sm.min.js"></script>
<script src="../public/js/weixin.js"></script>
</body>
</html>