    <!DOCTYPE html>
    <html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>我要签到</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" href="#">
        <meta name="applicable-device" content="mobile">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="keywords" content="关键词，关键词">
        <meta name="description" content="描述。。。。">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="../public/css/sm.min.css">
        <link rel="stylesheet" href="../public/css/weixin.css">
    </head>
    <body>
    <div class="page-group">
        <section class="page">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back" href="#" data-transition='slide-out'>
                    <span class="icon icon-left"></span>
                    返回
                </a>
                <h1 class="title">我要签到</h1>
            </header>
            <!-- 页面内容区开始 -->
            <article class="content">
                <div class="content-padded">
                    <ul class="list-unstyled list-reach">
                        <li>
                            <span class="code">
                                <img src="../public/img/qrcode.png" alt="" height="110">
                            </span>
                            <div class="info">
                                <header>李彦宏 <label>审核未通过</label></header>
                                <section>地点: 北京兰陵街道海天大厦二层903第二会议室</section>
                                <footer class="color-gray">时间:2018-08-24 上午9:00</footer>
                            </div>
                        </li>
                        <li>
                            <span class="code">
                                <img src="../public/img/qrcode.png" alt="" height="110">
                            </span>
                            <div class="info">
                                <header>李彦宏 <label>审核未通过</label></header>
                                <section>地点: 北京兰陵街道海天大厦二层903第二会议室</section>
                                <footer class="color-gray">时间:2018-08-24 上午9:00</footer>
                            </div>
                        </li>
                        <li>
                            <span class="code">
                                <img src="../public/img/qrcode.png" alt="" height="110">
                            </span>
                            <div class="info">
                                <header>李彦宏 <label>审核未通过</label></header>
                                <section>地点: 北京兰陵街道海天大厦二层903第二会议室</section>
                                <footer class="color-gray">时间:2018-08-24 上午9:00</footer>
                            </div>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- 页面内容区结束 -->
        </section>
    </div>
    <script src="../public/js/zepto.min.js"></script>
    <script src="../public/js/sm.min.js"></script>
    <script src="../public/js/weixin.js"></script>
    </body>
    </html>