<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>报名成功</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="#">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="keywords" content="关键词，关键词">
    <meta name="description" content="描述。。。。">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="../public/css/weixin.css">
</head>
<body>
<div class="page-group">
    <section class="page" id="page-enroll-success">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left back" href="#" data-transition='slide-out'>
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title">报名成功</h1>
        </header>`
        <!-- 页面内容区开始 -->
        <article class="content">
            <div class="content-block text-center">
                <img src="../public/img/entroy-success-title.png" height="29"/>
            </div>
            <div class="content-padded">
                <ul class="list-unstyled list-card-success">
                    <li>
                        <header>张飞飞</header>
                        <section>
                            <img src="../public/img/qrcode.png" height="78" class="pb-popup" />
                        </section>
                    </li>
                    <li>
                        <header>张飞飞</header>
                        <section>
                            <img src="../public/img/qrcode.png" height="78" class="pb-popup" />
                        </section>
                        <footer>
                            分享给朋友
                        </footer>
                    </li>
                </ul>
            </div>
            <!-- 页面内容区结束 -->
    </section>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script src="../public/js/weixin.js"></script>
</body>
</html>