<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>政策详情</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="#">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="keywords" content="关键词，关键词">
    <meta name="description" content="描述。。。。">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../public/css/sm.min.css">
    <link rel="stylesheet" href="../public/css/weixin.css">
</head>
<body>
<div class="page-group">
    <section class="page">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left back" href="#" data-transition='slide-out'>
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title">政策详情</h1>
        </header>
        <!-- 页面内容区开始 -->
        <article class="content content-article content-detail">
            <div class="content-padded">
                <h1>海关总署公告2018年第15号（关于公布《中华人民共和国海关进出口货物征税管理办法》涉及法律文书格式的公告）</h1>
                <div class="notice">
                    公告〔2018〕15 号
                </div>
                <div class="pic">

                    <img src="../public/img/pic5.png" width="100%" />
                </div>
                <p><strong>新疆跨境电商出口商品主要有:</strong>新疆跨境电商出口商品主要有:新疆跨境电商出口商品主要有:新疆跨境电商出口商品主要有:新疆跨境电商出口商品主要有:</p>
                <p>现将该办法所涉及的法律文书（见附件）予以发布，自2018年2月1日起施行。</p>
                <p class="tip">特此公告。。</p>
                <p>附件:</p>
                <ul class="list-unstyled list-tif">
                    <li><a href=""><i class="ico ico-tip2"></i>海关税款缴款书.tif</a></li>
                    <li><a href=""><i class="ico ico-tip2"></i>海关补征税款告知书.tif</a></li>
                    <li><a href=""><i class="ico ico-tip2"></i>收入退还书收入退还书收入退还书收入退还书收入退还书.tif</a></li>
                </ul>
            </div>
        </article>
        <!-- 页面内容区结束 -->
    </section>
</div>
<script src="../public/js/zepto.min.js"></script>
<script src="../public/js/sm.min.js"></script>
<script src="../public/js/weixin.js"></script>
</body>
</html>