<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>消息</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="#">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="keywords" content="关键词，关键词">
    <meta name="description" content="描述。。。。">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../public/css/sm.min.css">
    <link rel="stylesheet" href="../public/css/weixin.css">
</head>
<body>
<div class="page-group">
    <section class="page">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left back" href="#" data-transition='slide-out'>
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title">消息</h1>
        </header>
        <!-- 页面内容区开始 -->
        <article class="content">
            <div class="list-block media-list">
                <ul>
                    <li>
                        <a href="#" class="item-content">
                            <div class="item-media">
                                <img src="../public/img/ico-register.png" height="47" width="47"/></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">注册</div>
                                    <div class="item-after">2018-09-22</div>
                                </div>
                                <div class="item-text">北京海关总署通过了您的注册申请欢迎进
                                    入关信通。</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-content">
                            <div class="item-media">
                                <img src="../public/img/ico-edit.png" height="47" width="47"/>
                            </div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">报名</div>
                                    <div class="item-after">2018-09-22</div>
                                </div>
                                <div class="item-text">北京海关总署通过了您报名的关于《企业
                                    信用演讲的培训活动》。</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-content">
                            <div class="item-media">
                                <img src="../public/img/ico-notice.png" height="47" width="47"/></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">咨询</div>
                                    <div class="item-after">2018-09-22</div>
                                </div>
                                <div class="item-text">北京海关总署回答了您提交的问题，请查
                                    看。</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-content">
                            <div class="item-media">
                                <img src="../public/img/ico-del.png" height="47" width="47"/></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">删除</div>
                                    <div class="item-after">2018-09-22</div>
                                </div>
                                <div class="item-text">北京海关总署通过了您移除用户的申请,请
                                    查看。</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </article>
        <!-- 页面内容区结束 -->
    </section>
</div>
<script src="../public/js/zepto.min.js"></script>
<script src="../public/js/sm.min.js"></script>
<script src="../public/js/weixin.js"></script>
</body>
</html>