<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>用户协议</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="#">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="keywords" content="关键词，关键词">
    <meta name="description" content="描述。。。。">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../public/css/sm.min.css">
    <link rel="stylesheet" href="../public/css/sm-extend.min.css">
    <link rel="stylesheet" href="../public/css/weixin.css">
</head>
<body>
<div class="page-group">
    <section class="page">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left" href="#" data-transition='slide-out'>
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title">用户协议</h1>
        </header>
        <!-- 页面内容区开始 -->
        <article class="content content-article">
            <div class="content-padded">
                <h1>关信通用户协议</h1>
                <p>特别提示</p>
                <p class="text-indent">
                    我们提供服务时，可能会收集、储存和使用下列与您有关的信息。如果您不提供相关信息，可能无法注册成为我们的用户或无法享受我们提供的某些服务，或者无法达到相关服务拟达到的效果。在我们提供服务时，用于身份验证、客户服务、安全防范、诈骗监测、存档和备案用途，确保我们向您提供的产品和服务的安全性；</p>
            </div>
        </article>
        <!-- 页面内容区结束 -->
    </section>
</div>
<script src="../public/js/zepto.min.js"></script>
<script src="../public/js/sm.min.js"></script>
<script src="../public/js/sm-extend.min.js"></script>
<script src="../public/js/weixin.js"></script>
</body>
</html>