<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>立即报名</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="#">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="keywords" content="关键词，关键词">
    <meta name="description" content="描述。。。。">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../public/css/sm.min.css">
    <link rel="stylesheet" href="../public/css/weixin.css">
</head>
<body>
<div class="page-group">
    <section class="page" id="page-enroll">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left back" href="#" data-transition='slide-out'>
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title">立即报名</h1>
        </header>
        <nav class="bar bar-tab">
            <a class="tab-item" href="#">
                确认提交
            </a>
        </nav>
        <!-- 页面内容区开始 -->
        <article class="content">
            <h4>确定报名信息</h4>
            <div class="content-padded">
                <ul class="list-unstyled list-entry-info">
                    <li>
                        <div>
                            <i class="ico ico-house"></i>
                            <span class="color-gray">公司：</span>
                            <span class="color-default">中粮食品进出口有限公司1111</span>
                            <a href="" class="link-close">&times;</a>
                        </div>
                        <div>
                            <i class="ico ico-bug"></i>
                            <span class="color-gray">职位：</span>
                            <span class="color-default">总经理</span>
                        </div>
                        <div>
                            <i class="ico ico-user"></i>
                            <span class="color-gray">姓名：</span>
                            <span class="color-default">张东东</span>
                        </div>
                        <div>
                            <i class="ico ico-tel"></i>
                            <span class="color-gray">电话：</span>
                            <span class="color-default">150 5658 9501</span>
                            <span class="color-primary">已报名</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block"> <a href="#" class="button button-big button-round open-popup" data-popup=".popup-add">新增报名人员</a></div>
        </article>
        <!-- 页面内容区结束 -->
    </section>
    <!-- popup 开始-->
    <div class="popup popup-add">
        <div class="add-form-wrap">
            <div class="add-form">
                <div class="list-block">
                    <ul>
                        <!-- Text inputs -->
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">姓名：</div>
                                    <div class="item-input">
                                        <input type="text" placeholder="请输入姓名">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">电话：</div>
                                    <div class="item-input">
                                        <input type="text" placeholder="请输入电话">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">职位：</div>
                                    <div class="item-input">
                                        <input type="text" placeholder="请输入职位">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="content-padded">
                        <a href="#" class="button button-fill">确定提交</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- popup 结束-->
</div>
<script src="../public/js/zepto.min.js"></script>
<script src="../public/js/sm.min.js"></script>
<script src="../public/js/weixin.js"></script>
</body>
</html>